# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Local configuration
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# macOS specific files
.DS_Store

# User-specific files
~/Documents/Spectograma/

# pytest
.pytest_cache/
